.new-order-container {
  padding: 24px;
  .address-select {
    width: 400px;
  }
  .new-address {
    margin: 24px 0;
  }
  .address-list {
    .address-item {
      padding: 0 !important;
      margin: 6px 12px;
      &:hover .address-item-actions {
        display: block;
      }
      .address-item-actions {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        a {
          margin: 0 8px;
          &:hover {
            color: red;
          }
        }
      }
      .address-item-seleted {
        border: 2px dashed;
        box-shadow: 0 0 2px;
      }
      .address-item-card {
        width: fit-content;
        height: fit-content;
        cursor: pointer;
      }
      .address-item-title {
        font-size: 12px;
      }
      .ant-card-head-title {
        white-space: unset !important;
      }
      .address-item-content {
        font-size: 12px;
        white-space: unset !important;
        .address-item-content-phone {
          margin-left: 12px;
        }
      }
    }
  }
  .overview {
    width: fit-content;
    border: 2px dashed red;
    padding: 12px;
    text-align: right;
    float: right;
    .label {
      font-weight: bold;
    }
    .price {
      font-size: 2em;
      font-weight: bold;
    }
  }
  .submit-order {
    float: right;
    margin-top: 12px;
    clear: both;
  }
}

.pay-order-detail {
  margin-top: 24px;
  .pay-order-detail-item {
    margin: 8px;
    .label {
      font-weight: 600;
    }
  }
}

.antd-pro-result-result {
  margin-top: 64px !important;
  text-align: left;
  .antd-pro-result-icon {
    margin-left: 50px;
  }
  .description {
    margin: 12px 0;
  }
}
.antd-pro-result-result .antd-pro-result-icon > .antd-pro-result-success {
  font-size: 1em;
}
